    /*
    Flaticon icon font: Flaticon
    Creation date: 10/03/2017 14:17
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-draw:before { content: "\f100"; }
.flaticon-hands:before { content: "\f101"; }
.flaticon-social:before { content: "\f102"; }
.flaticon-spoon:before { content: "\f103"; }
.flaticon-commerce:before { content: "\f104"; }
.flaticon-global:before { content: "\f105"; }
.flaticon-business:before { content: "\f106"; }
.flaticon-fingerprint:before { content: "\f107"; }
.flaticon-fire-extinguisher-1:before { content: "\f108"; }
.flaticon-key:before { content: "\f109"; }
.flaticon-police:before { content: "\f10a"; }
.flaticon-padlock:before { content: "\f10b"; }
.flaticon-blueprint:before { content: "\f10c"; }
.flaticon-search:before { content: "\f10d"; }
.flaticon-firefighter:before { content: "\f10e"; }
.flaticon-fire-extinguisher:before { content: "\f10f"; }
    
    $font-Flaticon-draw: "\f100";
    $font-Flaticon-hands: "\f101";
    $font-Flaticon-social: "\f102";
    $font-Flaticon-spoon: "\f103";
    $font-Flaticon-commerce: "\f104";
    $font-Flaticon-global: "\f105";
    $font-Flaticon-business: "\f106";
    $font-Flaticon-fingerprint: "\f107";
    $font-Flaticon-fire-extinguisher-1: "\f108";
    $font-Flaticon-key: "\f109";
    $font-Flaticon-police: "\f10a";
    $font-Flaticon-padlock: "\f10b";
    $font-Flaticon-blueprint: "\f10c";
    $font-Flaticon-search: "\f10d";
    $font-Flaticon-firefighter: "\f10e";
    $font-Flaticon-fire-extinguisher: "\f10f";