	/*
  	Flaticon icon font: Flaticon
  	Creation date: 10/03/2017 14:17
  	*/

@font-face {
  font-family: "FlaticonCustom";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "FlaticonCustom";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticoncustom-"]:before, [class*=" flaticoncustom-"]:before,
[class^="flaticoncustom-"]:after, [class*=" flaticoncustom-"]:after {   
  font-family: FlaticonCustom;
        font-size: 40px;
font-style: normal;
margin-left: 0px;
}

.flaticoncustom-draw:before { content: "\f100"; }
.flaticoncustom-hands:before { content: "\f101"; }
.flaticoncustom-social:before { content: "\f102"; }
.flaticoncustom-spoon:before { content: "\f103"; }
.flaticoncustom-commerce:before { content: "\f104"; }
.flaticoncustom-global:before { content: "\f105"; }
.flaticoncustom-business:before { content: "\f106"; }
.flaticoncustom-fingerprint:before { content: "\f107"; }
.flaticoncustom-fire-extinguisher-1:before { content: "\f108"; }
.flaticoncustom-key:before { content: "\f109"; }
.flaticoncustom-police:before { content: "\f10a"; }
.flaticoncustom-padlock:before { content: "\f10b"; }
.flaticoncustom-blueprint:before { content: "\f10c"; }
.flaticoncustom-search:before { content: "\f10d"; }
.flaticoncustom-firefighter:before { content: "\f10e"; }
.flaticoncustom-fire-extinguisher:before { content: "\f10f"; }